<div class="flex-menu-admin">
    <div class="left-right-admin">
        <a asp-controller="Banner" asp-action="Index">Slider</a>
        <a asp-controller="News" asp-action="Index">News</a>
        <a asp-controller="Interior" asp-action="Index">Interior</a>
        <a asp-controller="Corporate" asp-action="Index">Corporate</a>
        <a asp-controller="Vacancy" asp-action="Index">Vacancy</a>
        <a asp-controller="Humanresources" asp-action="Index">HumanResources</a>
        <a asp-controller="Product" asp-action="Index">Product</a>

    </div>


    <div class="left-right-admin">
        <a asp-controller="Category" asp-action="Index">Category</a>
        <a asp-controller="Blog" asp-action="Index">Blog</a>
        <a asp-controller="Twin" asp-action="Index">Twin</a>
        <a asp-controller="Ads" asp-action="Index">Ads</a>
        <a asp-controller="Press" asp-action="Index">Press</a>
        <a asp-controller="Product" asp-action="Create">Product Create</a>
    </div>
</div>  



