@model Fab.Models.AdsFolder.Ads;
@{
    ViewData["Title"] = "Edit";
}


<div class="entert-form" style=" padding-left: 50px;">

    <h1 class="text-change-size">Edit News</h1>


    <form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="Ads">

        <div class="form-group  mt-2 mb-4 my-5">
            <div class="image-uploaddd">
                <label class="labelstyle addimages-lbl" for="iconfile">
                    <div class="file-input" style="border:none;">
                    <h3 class="mt-1 addlogoclass" style="color: black;">
                            <span>+</span>  Add img
                        <input type="file" id="ImageFile" name="ImageFile" class="form-control-file addhoverinput imagepreview1" onchange="CreateImgPre(this)" accept=".jpg,.png" />
                    </h3>
                    <p>
                        <img id="ImgPreviewbanner" style="width:50px; height:50px; border-style:none; border-color:white; margin-top:10px;" src="~/ModelImages/AdsImages/@Model.Image" />
                    </p>
                    </div>
                </label>

                <output style="display:flex;" id="output1"></output>
                <span style="color:gray;">.svg file, max-300kbt</span>
            </div>
        </div>

        

        <div class="form-group  mt-2 mb-3">
            <label class="labelstyle" for="Link">Link</label>
            <textarea id="Link" name="Link" asp-for="Link" class="form-control addhoverinput" required></textarea>
        </div>

        




        <button type="submit" class="btn createbuttonn">Edit</button>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    @*////////////////////////////////////////////////// image preview unchange*@
    <script>
        const outputaz = document.querySelector("#output1");

        const inputaz = document.querySelector(".imagepreview1");
        let imagesArrayaz = [];

        function displayImagesone() {
            let images = ""
            imagesArrayaz.forEach((image, index) => {
                images += `<div class="image" style="display:flex;" >
                                                                <img src="${URL.createObjectURL(image)}" alt="image" style="width:100px; height:100px; display:block;">
                                                            <span onclick="deleteImageaz(${index})" style="cursor:pointer;">&times;</span>
                                                          </div>`
            })
            outputaz.innerHTML = images


        }
        function deleteImageaz(index) {
            imagesArrayaz.splice(index, 1)
            inputaz.value = ""; // Clear the input element's value
            updateInputFilesaz();
            displayImagesone();

        }

        function updateInputFilesaz() {
            const newFiles = new DataTransfer();
            imagesArrayaz.forEach((image) => {
                newFiles.items.add(image);
            });
            inputaz.files = newFiles.files;
        }

        inputaz.addEventListener("change", () => {
            //const files = input.files
            //for (let i = 0; i < files.length; i++) {
            //    imagesArray.push(files[i])
            //}
            const filesaz = Array.from(inputaz.files);
            imagesArrayaz = imagesArrayaz.concat(filesaz);

            displayImagesone();
        })
                                ///////////////// end of it
    </script>
